<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
</head>
<body>
  <style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  </style>

  <div style="background:#F9F9F9; max-width:900px; margin:0 auto; width:100%; padding:2em .5em;box-sizing:border-box;">
    <div style="text-align:center">
      <img src="cid:logo-color" width="100">
    </div>

    <div style="background:#fff; border-radius:15px; max-width:800px; width:100%; margin:2em auto;
    padding:2em; box-sizing:border-box; box-shadow:0 1px 7px rgba(0,0,0,.07);">
    <div style="font-size:24px; font-weight:600; color:#0086FF; margin-bottom:1em;">
      Dear <b>{{username}}</b>,
    </div>
    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
      You have an Interview ({{roundType}}) scheduled for the job <b>{{job}}</b>, on <b>{{interviewDate}}</b>, from <b>{{interviewSlot}}</b> <br>
      You will get another reminder mail on the day of the Interview.
      <br><br>

    <br />
    <br />
    For any issue contact support@brigosha.com
    </div>


    <div style="color:#333333; font-size:18px; margin-bottom:1em;">


    <br><br>
    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
      Best Regards<br />
      Team Brigosha<br>
      www.brigosha.com <br>

    </div>
  </div>
    <img src="cid:bottom_border@2x" width="100%">


  <div style="text-align: center; margin-top:1em; ">
    <div style="color:#737373; font-size:13px; ">3rd Floor, VCR Cornerstone, 19th Main, HSR Layout Bengaluru, 560102</div>
  </div>
</div>

</body>
</html>
